
.header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: #F7DF1E;
    padding-right: 10%;
    z-index: 99;
    width: 100%;

}

.headerActive {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: white;
    padding-right: 10%;
    z-index: 99;
    width: 100%;
    border-bottom: 2px solid rgba(232, 229, 229, 0.71);

}

.language {
    position: absolute;
    top: 11px;
    right: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.activeOnlanguage {
    position: absolute;
    top: 11px;
    right: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.languageTrait {
    margin-bottom: 3px;
    pointer-events: none;
}

.defaultLanguage {
    cursor: pointer;
}

.languageWithActiveHeader {
    color: white;
    cursor: pointer;
}

.activeLanguage {
    color: #F7DF1E;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {

    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: #ffffff;
        padding-right: 10%;
        z-index: 99;
        width: 100%;
        transition: background-color 0.3s ease-in-out;
    }

    .headerActive {
        justify-content: flex-end;
    }

    .headerBurger {
        display: block;
        position: relative;
        top: 0;
        left: 20px;
        width: 30px;
        height: 20px;
        z-index: 4;
        transition: transform 0.3s ease-in-out;
    }

    .headerBurger span {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 9px;
        transition: background-color 0.2s ease-in-out;
    }

    .language {
        margin-right: 40px;
    }

    .headerBurger:before,
    .headerBurger:after {
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
        transition: transform 0.2s ease-in-out;
    }

    .headerBurger:before {
        top: 0;
    }

    .headerBurger:after {
        bottom: 0;
    }

    .headerWrapper {
        display: none;
    }

    .headerMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        overflow: auto;

        opacity: 0.95;

    }

    .wrapperNavActive {
        display: none;
    }

    .wrapperNav {
        display: none;
    }


    .headerBurger.active:before {
        background-color: white;
        transform: rotate(45deg);
        top: 7px;
    }

    .headerBurger.active:after {
        background-color: white;
        transform: rotate(-45deg);
        top: 7px;
    }

    .headerBurger.active span {
        display: none;
    }

    .languageWithActiveHeader {
        color: #F7DF1E;
        cursor: pointer;
    }


    .languageBurger {
        color: #F7DF1E;
    }

    .languageBurgerActive {
        color: white;
    }

    .languageTraitBurger {
        color: white;
        margin-bottom: 3px;
        pointer-events: none;
    }


}

@media screen and (max-width: 420px) {
    .language {
        right: 40px;
    }

    .activeOnlanguage {
        right: 80px;
    }
}
